@import "../../styles/global.scss";

.results {
  background-color: #051418;
  &__ul {
    margin-left: -20px;
  }
  &__movie-list {
    list-style: none;
    color: #ecedea;
    font-size: 1.5rem;
    font-family: "Eczar";
  }
  &__movie-year {
    font-style: italic;
    font-family: "Eczar";
    font-size: 1.1rem;
  }

  &__nom-btn {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: grab;
    }
    &:focus {
      outline: none;
      cursor: grabbing;
    }
  }
  &__nom-icon {
    color: #ecedea;
    background-color: transparent;
    font-size: 1.5rem;
  }
}
.fa-award {
  color: #1b4d97;
  &:hover {
    color: #2ea1be;
  }
}
