@import "../../styles/global.scss";

.socials {
  margin-top: 50px;
  width: 30%;

  &__title {
    font-family: "WorkSans";
    color: #ecedea;
    text-align: center;
    font-size: 1.5rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-evenly;
  }
  &__icon {
    margin-bottom: 100px;
    &:hover {
      cursor: grab;
    }
    &:focus {
      outline: none;
      cursor: grabbing;
    }
  }
}
