@font-face {
  font-family: "Eczar";
  src: url("../Assets/Fonts/Eczar.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("../Assets/Fonts/WorkSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
